// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.select-image-container {
  .submit-img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
  }
}
